<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width=50px />
        {% endif %}

        <p style="font-weight: bold; text-align: left; ">
          <br/>
          Contents of Lab Guide:
        </p>
          <hr/>
        <p style="font-weight: bold; text-align: left; ">
          <a href="{{site.baseurl}}/#L1">Level I. Start</a> <br/>
          <a href="{{site.baseurl}}/#L2">Level II. Research</a> <br/>
          <a href="{{site.baseurl}}/#L3">Level III. Publish</a> <br/>
        </p>
          <hr/>
          <a href="{{site.baseurl}}/cal">📅Lab Calendars</a> <br/>
          <a href="{{site.baseurl}}/FAQ">❓Lab FAQ</a> <br/>


      </header>

      <section>
<!--
	 <div style="position: fixed; left: 5%; top: 150px; width: 25%; ">

           {% include toc.html html=content sanitize=true id="my_toc" h_min=2 h_max=3 %}

	  </div>
-->
      {{ content }}


      </section>
      <footer>
        <hr>
        <a href="{{ site.github.repository_url }}"><img src="{{site.baseurl}}/img/github2.png"  alt="Logo" height=20px /></a>
        <a href="http://lulab.life.tsinghua.edu.cn"><img src="{{site.baseurl}}/img/logo.jpg"  alt="Logo" height=20px /></a>
	    </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>
</html>
